MSSQL_SA_PASSWORD=ChangeMe_SA_123!
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=ecommerce;encrypt=true;trustServerCertificate=true
DB_USERNAME=ecommerce_app
DB_PASSWORD=ChangeMe_App_123!
SERVER_PORT=8080
